<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOJyYYOuR-dWgUD1QsMmPjkf4gHz-EQbc&callback=initMap"></script>
<!--   <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
 -->  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js"></script>
</head> 
<body>
  <div id="map" style="width: 1000px; height: 800px;"></div>
  <script>
  	var locations = JSON.parse('{{places | tojson | safe}}');
    console.log(locations)
  	// for (var i = 0; i < 3; i++)
  	// {
  	// 	locations.push(0);
  	// }
	// for (var i = 0; i < 3; i++)
	// {
	// 	locations.push(['{{places[0]}}', '{{places[1]}}', '{{places[2]}}']);
	// }
		// console.log( '{{ places }}' );
	

    // var locations = [
    //   ['London Eye', 51.503510, -0.119434, 5],
    //   ['Charing Cross', 51.507383, -0.127202, 4],
    //   ['Leicester Square', 51.511336, -0.128361, 3],
    //   ['Euston Station', 51.526825, -0.132395, 2],
    //   ['Kings Cross Station', 51.530616, -0.123125, 1]
    // ];
    
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(36.685766, -121.641753),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    var markers = new Array();
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      markers.push(marker);
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    function AutoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      $.each(markers, function (index, marker) {
      bounds.extend(marker.position);
      });
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    AutoCenter();
  </script> 
</body>
</html>